@layer base {
  html,
  body,
  #root {
    @apply h-full bg-gray-500;
  }

  * {
    scrollbar-width: auto;
    scrollbar-color: var(--color-gray-200) transparent;
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-300);
    border-radius: 999px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
}
