@font-face {
  font-family: 'NanumSquareRound';
  src: url('/fonts/NanumSquareRoundL.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('/fonts/NanumSquareRoundR.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('/fonts/NanumSquareRoundB.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('/fonts/NanumSquareRoundEB.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo';
  src: url('/fonts/Baloo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@utility font-baloo {
  font-family: 'Baloo', sans-serif;
}
@utility font-nanum-square-round {
  font-family: 'NanumSquareRound', sans-serif;
}

html {
  font-family: 'NanumSquareRound', sans-serif;
}
